# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# virtual environment
.venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# Installer logs
pip-log.txt

# Unit test / coverage reports
.pytest_cache/
coverage.xml
htmlcov/

# Environment variables
.env

# VS Code
.vscode/
